@*******************************************************************************
 * Licensed to the Apache Software Foundation (ASF) under one or more		   *
 * contributor license agreements.  See the NOTICE file distributed with	   *
 * this work for additional information regarding copyright ownership.         *
 * The ASF licenses this file to You under the Apache License, Version 2.0     *
 * (the "License"); you may not use this file except in compliance with        *
 * the License.  You may obtain a copy of the License at                       *
 *                                                                             *
 *    http://www.apache.org/licenses/LICENSE-2.0                               *
 *																			   *
 * Unless required by applicable law or agreed to in writing, software         *
 * distributed under the License is distributed on an "AS IS" BASIS,           *
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.    *
 * See the License for the specific language governing permissions and         *
 * limitations under the License.											   *
 *******************************************************************************@ 

@(climateServiceForm: play.data.Form[metadata.ClimateService])

@import helper._

@scripts = {
	<script src='@routes.Assets.at("javascripts/edit_button.js")'></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
	<script type="text/javascript">
	$(function() {
	    var availableServiceNames = [
	                "2-D-Variable-Map",
					"2-D-Variable-Zonal-Mean",
					"2-D-Variable-Time-Series",
					"3-D-Variable-2-D-Slice",
					"3-D-Variable-Zonal-Mean",
					"3-D-Variable-Average-Vertical-Profile",
					"Scatter-and-Histogram-Plot-of-Two-Variables",
					"Difference-Plot-of-Two-Time-Averaged-Variables",
					"Conditional-Sampling-with-One-Variable",
					"Conditional-Sampling-with-Two-Variables",
					"Time-Lagged-Correlation-Map-of-Two-Variables",
					"Regrid-and-Download"];

			$("#serviceName").autocomplete({
				source : availableServiceNames
			});
		});

		
	</script>
}

@main("Search Climate Service", scripts){
	
	@flash_message()   
	 
    <h1 style="margin-left:490px">Search Climate Service</h1>
    @helper.form(routes.ClimateServiceController.getSearchResult()) {
    	<div class="ui-widget col-sm-offset-3 col-sm-7">
    	<div class = "form-group">
    		@inputText(climateServiceForm("Service Name"), 'class -> "form-control", 'id -> "serviceName", '_label -> Messages("Service Name"), 'placeholder -> "2-D-Variable-Map", 'size->70) 
    	</div>
	    	
	    	<div id="show" style="display: none;">
	    		<textarea style="width: 640px" rows="4" id="content"></textarea>
	    	</div>

	    <div align="center">
	    	
	    	<input class="btn" type="submit" value="Search">
	    </div>
	    </div>
	    
	    }
	 }